<div class="<%= 'me' if message.user == current_user %>" data-user-id= "<%= message.user.id %>">
  <div class="message-container" id="message-<%= message.id %>">
    <p><%= message.content %></p>
  </div>
  <div class="small"><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></div>
</div>

