<%= render 'shared/back_arrow' %>
<div class="container">
  <h1 class="my-3">About <strong><%= @user.first_name %></strong></h1>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-7">
      <%= render 'shared/index', all_products: @products %>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-5">
      <div class="p-3" id="review-box">
        <h5><strong><%= @user.first_name %>'s</strong> Reviews</h5>
        <h5>
          <% count = 0 %>
          <% 5.times do %>
            <% if @avg_rating > count %>
              <i class="fas fa-star"></i>
            <% else %>
              <i class="far fa-star"></i>
            <% end %>
            <% count += 1 %>
          <% end %>
          (<%= @reviews.count%>)
        </h5>
        <%= simple_form_for [ @user, @review ] do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <div class="form-inputs form">
              <%= f.input :content, label: 'Write your Review', placeholder: "How was your experience with #{@user.first_name}?" %>
              <%= f.input :rating, label: 'Give a Rating', collection: 1..5 %>
            </div>
            <div class="form-actions">
              <%= f.submit "Submit a Review", class: "btn-swap" %>
            </div>
        <% end %>
        <div class="reviews">
          <h5>What others had to say about <%= @user.first_name %></h5>
          <% @user.reviews.each do |review| %>
            <li class="list-group-item">
              <small>
                <% count = 0 %>
                <% 5.times do %>
                  <% if review.rating > count %>
                    <i class="fas fa-star"></i>
                  <% else %>
                    <i class="far fa-star"></i>
                  <% end %>
                  <% count += 1 %>
                <% end %>
              </small>
              <p><%= review.content %></p>
              <div class="small"><%= review.created_at.strftime("%a %b %e at %l:%M%p") %></div>
            </li>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


