<% @swaps_accepted.each do |swap| %>
    <div class="col-12 col-sm-12 col-md-4 col-lg-3 card-index card-dashboard">
      <div class="card-header">You swaped</div>
      <div class="card-body">
        <% if swap.product.photo.attached? %>
          <%= cl_image_tag(swap.product.photo.key) %>
        <% elsif swap.product.category== 'Book' %>
          <%= image_tag('book-placeholder.png', alt: swap.product.title) %>
        <% else %>
          <%= image_tag('puzzle-placeholder.png', alt: swap.product.title) %>
        <% end %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">with <%= swap.other_product.user.first_name %></li>
        <li class="list-group-item"><%= link_to 'View Details &Chat', swap_path(swap) %></li>
        <% if swap.product.status == "exchanged" %>
          <li class="list-group-item">Receival confirmed</li>
        <% else %>
          <li class="list-group-item"><%= link_to 'Confirm receival', exchanged_swap_path(swap), method: :patch%></li>
        <% end %>
      </ul>
    </div>
<% end %>
<% @swaps_requests_accepted.each do |swap| %>
  <div class="col-12 col-sm-12 col-md-4 col-lg-2 card-index card-dashboard">
      <div class="card-header">You swaped
        <% if swap.notify_requester == true %>
          <i class="fas fa-bell"></i>
        <% end %>
      </div>
      <div class="card-body">
        <% if swap.other_product.photo.attached? %>
          <%= cl_image_tag(swap.other_product.photo.key) %>
        <% elsif swap.other_product.category== 'Book' %>
          <%= image_tag('book-placeholder.png', alt: swap.other_product.title) %>
        <% else %>
          <%= image_tag('puzzle-placeholder.png', alt: swap.other_product.title) %>
        <% end %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">with <%= swap.product.user.first_name %></li>
        <li class="list-group-item"><%= link_to 'View Details &Chat', swap_path(swap) %></li>
        <% if swap.other_product.status == "exchanged" %>
          <li class="list-group-item">Receival confirmed</li>
        <% else %>
          <li class="list-group-item"><%= link_to 'Confirm receival', exchanged_swap_path(swap), method: :patch %></li>
        <% end %>
      </ul>
    </div>
<% end %>
