<% @swaps_accepted.each do |swap| %>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 card-dashboard">
      <div class="card-header">You swapped</div>
      <div class="card-body">
        <% if swap.product.photo.attached? %>
          <%= cl_image_tag(swap.product.photo.key) %>
        <% elsif swap.product.category== 'Book' %>
          <%= image_tag('book-placeholder.png', alt: swap.product.title) %>
        <% else %>
          <%= image_tag('puzzle-placeholder.png', alt: swap.product.title) %>
        <% end %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">with <strong><%= link_to swap.other_product.user.first_name, user_path(swap.product.user) %></strong></li>
        <li class="list-group-item"><%= link_to swap_path(swap) do %>
          <i class="fas fa-comments"></i> <i class="fas fa-info-circle"></i>
          <%end %>
        </li>
        <% if swap.product.status == "exchanged" %>
          <li class="list-group-item"><i class="fas fa-check-circle"></i> Confirmed</li>
        <% else %>
          <li class="list-group-item"><i class="far fa-check-circle"></i> <%= link_to 'Confirm receival', exchanged_swap_path(swap), method: :patch%></li>
        <% end %>
      </ul>
    </div>
<% end %>
<% @swaps_requests_accepted.each do |swap| %>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 card-dashboard">
      <div class="card-header">You swapped
        <% if swap.notify_requester == true %>
          <i class="fas fa-bell"></i>
        <% end %>
      </div>
      <div class="card-body">
        <% if swap.other_product.photo.attached? %>
          <%= cl_image_tag(swap.other_product.photo.key) %>
        <% elsif swap.other_product.category== 'Book' %>
          <%= image_tag('book-placeholder.png', alt: swap.other_product.title) %>
        <% else %>
          <%= image_tag('puzzle-placeholder.png', alt: swap.other_product.title) %>
        <% end %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">with <strong><%= link_to swap.product.user.first_name,  user_path(swap.product.user) %></strong></li>
        <li class="list-group-item"><%= link_to swap_path(swap) do %>
          <i class="fas fa-comments"></i> <i class="fas fa-info-circle"></i>
          <%end %>
        <% if @swaps_with_new_messages.include?(swap.id) %>
          <i class="fas fa-envelope"></i>
        <% end %>
        </li>
        <% if swap.other_product.status == "exchanged" %>
          <li class="list-group-item"><i class="fas fa-check-circle"></i> Confirmed</li>
        <% else %>
          <li class="list-group-item"><i class="far fa-check-circle"></i> <%= link_to 'Confirm receival', exchanged_swap_path(swap), method: :patch %></li>
        <% end %>
      </ul>
    </div>
<% end %>
