<div class="card-swap">
  <div class="card-body">
    <% if @swap_possible == false %>
      <p class="card-text">Sorry, you cannot accept this swap request, because you do not have available products. Please add a product or cancel one of your swap requests.</p>
      <%= link_to 'Back to my dashboard', my_dashboard_path %>
    <% else %>
      <div class="choose">
        <h4><strong><%= link_to @user, user_path(@swap.user)  %></strong></h4>
        <p>would like to swap your <%= @swap.product.category %>: <strong><%= @swap_product %></strong></p>
        <p>Please choose one of <%= @user %>'s products below and accept the Swap.</p>
      </div>
    <% end %>
  </div>
</div>
