<div class="row">
  <% @products.each do |product| %>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 card-index">
      <% if product.photo.attached? %>
        <%= cl_image_tag(product.photo.key) %>
      <% elsif product.category== 'Book' %>
        <%= image_tag('book-placeholder.png', alt: product.title) %>
      <% else %>
        <%= image_tag('puzzle-placeholder.png', alt: product.title) %>
      <% end %>
      <div class="card-body card-index-bottom">
        <h5 class="card-title"><%= link_to product.title, product_path(product.id) %></h5>
        <div>
          <% if product.category == 'Puzzle' %>
            <p class="card-text"><i class="fas fa-puzzle-piece"></i> <%= product.category %></p>
          <% else %>
            <p class="card-text"><i class="fas fa-book"></i></i> <%= product.category %></p>
          <% end %>
          <p class="card-text"><i class="fas fa-map-marker-alt"></i> <%= product.city %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
