<% @products.each do |product| %>
  <div class="col-12 col-sm-12 col-md-4 col-lg-2 card-index card-dashboard">
    <% if product.photo.attached? %>
      <%= cl_image_tag(product.photo.key) %>
    <% elsif product.category== 'Book' %>
      <%= image_tag('book-placeholder.png', alt: product.title) %>
    <% else %>
      <%= image_tag('puzzle-placeholder.png', alt: product.title) %>
    <% end %>
    <div class="card-body">
      <p class="card-text">Type: <%= product.category %></p>
      <p class="card-text"><i class="fas fa-map-marker-alt"></i> <%= product.city %></p>
      <% if policy(product).destroy? %>
        <%= link_to product_path(product), method: :delete do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      <% end %>
      <% if policy(product).edit? %>
        <%= link_to edit_product_path(product) do %>
        <i class="far fa-edit"></i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
