<% @swaps_requests.each do |swap| %>
  <div class="col-12 col-sm-12 col-md-4 col-lg-4 card-dashboard">
    <div class="card-header">You requested</div>
    <div class="card-body">
    <% if swap.product.photo.attached? %>
      <%= cl_image_tag(swap.product.photo.key) %>
    <% elsif swap.product.category== 'Book' %>
      <%= image_tag('book-placeholder.png', alt: swap.product.title) %>
    <% else %>
      <%= image_tag('puzzle-placeholder.png', alt: swap.product.title) %>
    <% end %>
  </div>
    <div class="card-body">
      <p>from <%= swap.product.user.first_name %></p>
      <% if swap.product.category == 'Puzzle' %>
        <p class="card-text"><i class="fas fa-puzzle-piece"></i> <%= swap.product.category %></p>
      <% else %>
        <p class="card-text"><i class="fas fa-book"></i></i> <%= swap.product.category %></p>
      <% end %>
      <p class="card-text"><i class="fas fa-map-marker-alt"></i> <%= swap.product.city %></p>
      <% if policy(swap).mark_as_canceled? %>
        <%= link_to canceled_swap_path(swap), method: :patch do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
