<div class="row">
  <% @swaps_requests_for_owner.each do |swap| %>
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 card-request">
      <div class="card-header <%= 'notify' if swap.notify_owner == true %>">Request
        <% if swap.notify_owner == true %>
          <i class="fas fa-bell"></i>
        <% end %>
      </div>
      <div class="card-body">
        <% if swap.product.photo.attached? %>
          <%= cl_image_tag(swap.product.photo.key) %>
        <% elsif swap.product.category== 'Book' %>
          <%= image_tag('book-placeholder.png', alt: swap.product.title) %>
        <% else %>
          <%= image_tag('puzzle-placeholder.png', alt: swap.product.title) %>
        <% end %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">from <strong><%= link_to swap.user.first_name, user_path(swap.user) %></strong></li>
        <li class="list-group-item"><i class="fas fa-info-circle"></i> <%= link_to 'Details', choose_item_to_swap_path(swap) %></li>
      </ul>
    </div>
  <% end %>
</div>
