<% @swaps.each do |swap| %>
  <div class="col-12 col-sm-12 col-md-4 col-lg-2 card-index card-dashboard">
    <% if swap.product.photo.attached? %>
      <%= cl_image_tag(swap.product.photo.key) %>
    <% elsif swap.product.category== 'Book' %>
      <%= image_tag('book-placeholder.png', alt: product.title) %>
    <% else %>
      <%= image_tag('puzzle-placeholder.png', alt: product.title) %>
    <% end %>
    <div class="card-body">
      <p class="card-text">Type: <%= swap.product.category %></p>
      <p class="card-text"><%= link_to 'Details', choose_item_to_swap_path(swap), class: "btn-swap"  %></p>
      <p class="card-text"><%= link_to 'Reject', reject_swap_path(swap), method: :patch, class: "btn-swap"  %></p>
    </div>
  </div>
<% end %>
