<% @swaps_requests.each do |swap| %>
  <div class="col-12 col-sm-12 col-md-4 col-lg-4 card-dashboard">
    <div class="card-header">You requested</div>
    <div class="card-body">
      <% if swap.product.photo.attached? %>
        <%= cl_image_tag(swap.product.photo.key) %>
      <% elsif swap.product.category== 'Book' %>
        <%= image_tag('book-placeholder.png', alt: swap.product.title) %>
      <% else %>
        <%= image_tag('puzzle-placeholder.png', alt: swap.product.title) %>
      <% end %>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">from <strong><%= link_to swap.product.user.first_name, user_path(swap.product.user) %></strong></li>
      <li class="list-group-item">
        <% if swap.product.category == 'Puzzle' %>
          <p><i class="fas fa-puzzle-piece"></i> <%= swap.product.category %></p>
        <% else %>
          <p class="mb-0"><i class="fas fa-book"></i></i> <%= swap.product.category %></p>
        <% end %>
      </li>
      <li class="list-group-item">
        <% if policy(swap).mark_as_canceled? %>
          <p><i class="far fa-trash-alt"></i> <%= link_to "Cancel", canceled_swap_path(swap), method: :patch %></p>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>
