<div class="banner" style="background-image: url(<%= asset_path 'Banner.png' %>)">
  <div class="container mobile">
    <div>
      <h1>Welcome to SwapBox</h1>
    </div>
    <div class="mt-4">
      <%= link_to 'Swap', products_path, class: "btn-swap"  %>
    </div>
  </div>
</div>
<div class="container mobile">
  <h2>How it works</h2>
  <div class="cards mobile">
    <div class="card">
      <%= image_tag 'sign-up.svg'%>
      <h3><%= link_to 'Sign up', new_user_registration_path %></h3>
      <p>Make an account or Login</p>
      <p><%= link_to 'Login', new_user_session_path, class: 'btn-swap' %></p>
    </div>
    <div class="card">
      <%= image_tag 'pick-product.svg'%>
      <h3>Upload</h3>
      <p>Pick a book or puzzle you're ready to part ways with</p>
    </div>
    <div class="card">
      <%= image_tag 'browse.svg'%>
      <h3><%= link_to 'Browse', products_path %></h3>
      <p>Check out the selection of puzzles and books</p>
    </div>
    <div class="card">
      <%= image_tag 'request-swap.svg'%>
      <h3><%= link_to 'Swap', products_path %></h3>
      <p>Request a product and if the owner accepts, set up a swap time and location</p>
    </div>
  </div>
  <%= link_to 'Start Swapping', products_path, class: "btn-swap"  %>
</div>
<div class="wrapper">
  <div class="container mobile">
    <h2>What are you looking for?</h2>
    <div class="cards mobile">
      <div class="homepage-card puzzle-card">
        <%= link_to 'Puzzles', products_path(category:'Puzzle'), class: "btn-swap"  %>
      </div>
      <div class="homepage-card book-card">
        <%= link_to 'Books', products_path(category:'Book'), class: "btn-swap"  %>
      </div>
    </div>
  </div>
</div>
