<h1>Hi <%= @user.first_name %></h1>
<div class="container">
  <h2>Requests for You</h2>
  <div class="row">
    <%= render 'shared/swap_request_for_owner' %>
  </div>
</div>

<div class="container">
  <h2>Accepted Swaps</h2>
  <div class="row">
    <%= render 'shared/accepted_swaps' %>
  </div>
</div>

<div class="container">
  <h2>Requested Swaps</h2>
  <div class="row">
    <%= render 'shared/swaps_requests' %>
  </div>
</div>

<div class="container">
  <h2>All your available Products</h2>
  <div class="row">
    <%= render 'shared/my_dashboard' %>
  </div>
</div>
