<h1>Hi <%= @user.first_name %></h1>

<div class="container">
  <h2>All your Products</h2>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-12 col-sm-12 col-md-4 col-lg-2 card-index card-dashboard">
      <img src="https://source.unsplash.com/random" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= product.title %></h5>
        <p class="card-text">Type: <%= product.category %></p>
        <p class="card-text"><i class="fas fa-map-marker-alt"></i> <%= product.city %></p>
        <% if policy(product).destroy? %>
          <%= link_to "Delete", product_path(product), method: :delete %>
        <% end %>
        <% if policy(product).edit? %>
          <%= link_to "Edit", edit_product_path(product) %>
        <% end %>
      </div>
      </div>
    <% end %>
  </div>
</div>

<%= render 'shared/accepted_swaps' %>

<%= render 'shared/swap_request_for_owner' %>

<%= render 'shared/swaps_requests' %>


