<%= render 'shared/back_arrow' %>
<div class="container d-flex mt-5 ">
  <div class="row">
    <div class="person col-12 col-sm-12 col-md-4 col-lg-4 ">
      <div class="container-team">
        <div class="container-inner">
          <%= image_tag 'backgroundtexture1.jpg', class: "circle"%>
          <%= image_tag 'SzczesnaAg.png', class: "img img1"%>
        </div>
      </div>
      <div class="name">
        <h3>Agata</h3>
      </div>
      <div class="bio">
        <h5>Full Stack Developer</h5>
        <p>I'm originally from Poland. Former project manager in the field of marketing research. </p>
      </div>
    </div>
    <div class="person col-12 col-sm-12 col-md-4 col-lg-4 ">
      <div class="container-team">
        <div class="container-inner">
          <%= image_tag 'backgroundtexture2.jpg', class: "circle"%>
          <%= image_tag 'hola-ale.png', class: "img img1"%>
        </div>
      </div>
      <div class="name">
        <h3>Ola</h3>
      </div>
      <div class="bio">
        <h5>Full Stack Developer</h5>
        <p>Former Polish lawyer.</p>
      </div>
    </div>
    <div class="person col-12 col-sm-12 col-md-4 col-lg-4 ">
      <div class="container-team">
        <div class="container-inner">
          <%= image_tag 'backgroundtexture3.jpg', class: "circle"%>
          <%= image_tag 'Alexboedtker.png', class: "img img1"%>
        </div>
      </div>
      <div class="name">
        <h3>Alex</h3>
      </div>
      <div class="bio">
        <h5>Full Stack Developer</h5>
        <p>Former Sales/Retail Manager with a background in training and strategy.Speak 6 languages fluently.</p>
      </div>
    </div>
  </div>
</div>
