<div class="container">
  <h2 class="m-3">Create a new Product</h2>

  <div class="card m-3 p-5">
  <%= simple_form_for(@product) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :title, placeholder: 'e.g. Cats' %>
      <%= f.input :category, placeholder: 'Book or Puzzle' %>
      <%= f.input :description, placeholder: 'Enter a comprehensive description of the product'  %>
      <%= f.input :street, placeholder: 'e.g. Bellerivestrasse 1' %>
      <%= f.input :zpicode, placeholder: 'e.g. 8008'%>
      <%= f.input :city, placeholder: 'e.g. Zürich'%>
      <%= f.input :tags, placeholder: '...' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Add a Product", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
</div>
