<%= render 'shared/back_arrow' %>
<div class="container mt-2">
  <div class="card-show mt-4">
    <div class="row g-0">
      <div class="col-md-4 product">
        <% if @product.photo.attached? %>
          <%= cl_image_tag(@product.photo.key) %>
        <% elsif @product.category== 'Book' %>
          <%= image_tag('book-placeholder.png', alt: @product.title) %>
        <% else %>
          <%= image_tag('puzzle-placeholder.png', alt: @product.title) %>
        <% end %>
      </div>
      <div class="col-md-8">
        <div class="card-body mb-3">
          <h3 class="card-title mb-3"><strong><%=  @product.title %></strong></h3>
          <p class="card-text mb-5"><%= @product.description %></p>
          <div class="d-flex" style="justify-content: space-between;">
            <div>
              <%= cl_image_tag @product.user.photo.attached? ? cl_image_path(@product.user.photo.key) : asset_path('user.png'), class: "avatar-large" %>
              <p><%= link_to @product.user.first_name, user_path(@product.user)%></p>
            </div>
            <div>
              <p><i class="fas fa-map-marker-alt"></i> <%= @product.city %></p>
            </div>
          </div>
        </div>
        <div class="d-flex" style="justify-content: center">
          <%= link_to 'Request a Swap', product_swaps_path(@product), method: :post, class: "btn-swap btn-large"  %>
        </div>
      </div>
    </div>
  </div>
</div>
