<div class="container">
  <div class="show-card">
    <%= @product.photo.attached? ? cl_image_tag(@product.photo.key) : image_tag('puzzle.jpg', alt: @product.title) %>
    <div class="card-bottom">
      <div>
        <h1><%= @product.title  %></h1>
        <p><%= @product.description  %></p>
        <p><i class="fas fa-map-marker-alt"></i><%= @product.city %></p>
      </div>
      <div class="card-right">
        <%= link_to 'Swap', '#', class: "btn-swap"  %>
      </div>
    </div>
  </div>
</div>
